/*for testing, show all div/span outlines*/
/*div {
	border: 1px solid red;
}

span {
	border: 1px solid blue;
}*/



/*color variables -- NOT SUPPORTED BY Explorer...*/
:root {
	/*COCOM theme colors*/
	--color-DEFAULT-background: whitesmoke;
	--color-DEFAULT-accent: dimgray;
	--color-AFRICOM-background: lavender;
	--color-AFRICOM-accent: darkviolet;
	--color-CENTCOM-background: rgb(148,138,84);
	--color-CENTCOM-accent: rgb(51,48,29);
	--color-EUCOM-background: rgb(255,102,255);
	--color-EUCOM-accent: rgb(200,0,150);
	--color-LOCAL-background: rgb(0,176,240);
	--color-LOCAL-accent: rgb(33,89,104);
	--color-FERRY-background: rgb(0,176,240);
	--color-FERRY-accent: rgb(33,89,104);
	--color-NORTHCOM-background: rgb(121,182,255);
	--color-NORTHCOM-accent: rgb(33,89,104);
	--color-SOUTHCOM-background: rgb(121,182,255);
	--color-SOUTHCOM-accent: rgb(33,89,104);
	--color-PACOM-background: rgb(146,208,80);
	--color-PACOM-accent: rgb(33,89,104);
	/*interface colors*/
	/*interface features*/
	--border-width: 1.5px;
	--corner-rounding: 5px;
}

/*major elements*/
html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	height: 100%;
	font-family: Calibri;
	background: grey;
	/*background: whitesmoke;*/
	/*let's try making everything flexible!*/
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	flex-wrap: nowrap;
	transition: all ease-in-out 0.5s;
}

h1 {
	margin: 0px;
	display: inline-block;
}

h2 {
	margin: 0px;
	display: inline-block;
}

h3 {
	margin: 0px;
	display: inline-block;
}

Table {
	width: 100%;
	border-width: 1px;
	border-spacing: 0px;
	border-style: none;
	/*border-color: black;*/
	border-collapse: collapse;
	text-align: center;
	text-anchor: middle;
}

tr.spacer {
	height: 5px;
}

th {
	margin-top: 5px;
	border-width: 1px 0px 1px 0px;
	padding: 1px 5px 1px 5px;
	border-style: solid;
	border-color: black;
	font-weight: bold;
	white-space: nowrap;
}

	th.timelineTitle {
		text-align: left;
	}

td {
	border-width: 0px;
	padding: 0px 5px 0px 5px;
	border-style: dotted;
	border-color: black;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}

.memo {
	white-space: normal;
	text-align: left;
	font-weight: normal;
}


td.topBorder {
	border-width: 1px 0px 0px 0px;
}

td.toprightBorder {
	border-width: 1px 1px 0px 0px;
}

p {
	margin: 0px 0px 0px 0px;
	width: 100%;
}

	p[class^='edit'] {
		cursor: text;
	}


.label {
	color: grey;
}

.calculated {
	font-style: italic;
}

#header {
	flex-shrink: 0;
	padding: 2px 0px 2px 0px;
	background: whitesmoke; /*expect to override this with a COCOM theme color*/
	border-bottom: 3px solid black;
	box-shadow: black 0px 0px 7px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	/*position: absolute; /*not necessary if we are flexing*/
	/*top: 0;
	left: 0;
	right: 0;*/
}

.header .contentGroup {
	padding: 0px 5px 0px 5px;
	/*margin: 2px 0px 2px 0px;*/
}

.tabContainer {
	display: none;
}

.pageContainer {
	flex-grow: 1;
	overflow: auto;
	display: flex;
	flex-direction: row;
}

#shiftsContainer {
	background: whitesmoke; /*expect to override this with a COCOM theme color*/
	border-top: 3px solid black;
	box-shadow: black 0px 0px 7px 0px;
	flex-basis: 50px;
	flex-shrink: 0;
	overflow-x:scroll;
}

	#shiftsContainer.expand {
		flex-basis: 30%;
		/*flex-grow: 10;		
		flex-shrink: 0;*/
	}

#timesheetContainer {
	display: none;
}

#shiftsContainer.expand #timesheetContainer {
	display: block;
	animation: expandTimesheet 1s;
}

@keyframes expandTimesheet{
	0%{
		opacity:0;
		height:0px;
	}
	100% {
		opacity: 1;
		height: auto;
	}
}

.expandArrow {
	position: relative;
	top: 5px;
	width: 7px;
	height: 7px;
	border: solid white;
	border-width: 1px 0 0 1px;
	transform: rotate(45deg);
	transition: all ease-in-out 0.25s;
}

#shiftsContainer.expand div.expandArrow {
	transform: rotate(225deg);
}


.transitionPanel {
	transition: all ease-in-out 0.5s;
}

.column {
	display: flex;
	flex-direction: column;
	align-content: stretch;
	flex-grow: 0;
	min-width: 300px;
}

	.column.narrow {
		flex-grow: 1;
	}

	.column.wide {
		flex-grow: 2;
		min-width: 400px;
	}

.card {
	background: whitesmoke;
	border-radius: 5px;
	margin: 5px 5px 5px 5px;
	box-shadow: black 1px 1px 7px 0px;
	padding: 5px 5px 10px 5px;
	/*flex-grow: 1;*/
	flex-shrink: 0;
}

.contentGroup {
}

.headerMenu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-end;
}

.stationEntry {
	border-top: 1px solid dimgrey;
}

.collectionEntry {
	border-top: 1px solid dimgrey;
}

.mxStatusSystem {
	text-align: left;
}

.mxStatusSubSystem {
	text-align: left;
	padding-left: 20px;
}


/*resize for skinny display*/
@media screen and (max-width: 1000px){
	#colNotes{
		order:1;
	}

}

/*colorize header/footer for COCOM Theme*/
#header.colorAFRICOM, #shiftsContainer.colorAFRICOM {
	background: rgb(220, 195, 234);
	border-color: darkviolet;
}

#header.colorCENTCOM, #shiftsContainer.colorCENTCOM {
	background: rgb(197, 190, 148);
	border-color: rgb(95, 90, 63);
}

#header.colorEUCOM, #shiftsContainer.colorEUCOM {
	background: rgb(255, 213, 255);
	border-color: rgb(200,0,150);
}

#header.colorLOCAL, #shiftsContainer.colorLOCAL {
	background: rgb(0,176,240);
	border-color: rgb(33,89,104);
}

#header.colorFERRY, #shiftsContainer.colorFERRY {
	background: rgb(0,176,240);
	border-color: rgb(33,89,104);
}

#header.colorNORTHCOM, #shiftsContainer.colorNORTHCOM {
	background: rgb(121,182,255);
	border-color: rgb(33,89,104);
}

#header.colorSOUTHCOM, #shiftsContainer.colorSOUTHCOM {
	background: rgb(121,182,255);
	border-color: rgb(33,89,104);
}

#header.colorPACOM, #shiftsContainer.colorPACOM {
	background: rgb(146,208,80);
	border-color: rgb(33,89,104);
}



/*Interface parts*/
/*Standard Button*/
.button {
	display: inline-block;
	margin: 5px;
	border: 0px none;
	box-shadow: grey 0px 1px 7px 2px;
	border-radius: 5px;
	padding: 5px 8px 5px 8px;
	text-align: center;
	background: dodgerblue;
	color: white;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	vertical-align: super;
}

	.button:hover {
		cursor: pointer;
		box-shadow: grey 0px 1px 10px 5px;
		/*padding: 5px 5px 5px 5px;*/
		/*font-weight: bold;*/
		text-shadow: 1px 0px 0px white; /*use shadow instead of bold to keep the button size consistent*/
		background: deepskyblue;
	}

	.button:active {
		box-shadow: grey 0px 1px 2px 1px;
		/*font-weight: bold;*/
		text-shadow: 1px 0px 0px white;
		cursor: pointer;
		background: #1976d2;
	}
	/*Special action buttons*/

	.button.small {
		height: 20px;
		line-height: 20px;
		padding: 2px 8px 2px 8px;
		border-radius: 24px;
		float: right;
	}

		.button.small:hover {
			padding: 2px 8px 2px 8px;
		}

	.button.event {
	}

	.button.fault {
	}

	.button.sensor {
	}

/*Filter buttons - note this assumes we don't have any other radio buttons, or they are all styled the same*/
.filterContainer {
	min-width: 400px;
}

input[type="radio"] {
	display: none;
}

label {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 25px;
	border-radius: 12px;
	cursor: pointer;
	user-select: none;
	transition: .25s all ease;
	z-index: 2;
}

input[type="radio"]:checked + label {
	color: #fff;
	background: dodgerblue;
}

input[type="radio"]:hover + label {
	color: #fff;
	background: lightskyblue;
}

#filterAll + label:before {
	content: " ";
	position: absolute;
	visibility: hidden;
	top: 0px;
	left: 0;
	display: block;
	width: 24px;
	height: 21px;
	border: 2px solid dodgerblue;
	border-radius: 11px;
	z-index: 1;
}

#filterAll:checked + label:before {
	width: 300px;
	visibility: visible;
	transition: .25s width ease;
}
