body {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    box-sizing: border-box;
}

table {
    width: 100%;
}

th,
td {
    vertical-align: middle;
    min-width: 100px;
}

table .smallCol {
    width: 100px;
}

table .timeCol {
    width: 150px;
    min-width: 150px;
}

table .durCol {
    width: 40px;
    min-width: 40px;
}

table .timeCol .editDropdown {
    width: 35px;
}

table .actionCol {
    width: 120px;
    text-align: left;
}

table .actionCol .button {
    height: 21px;
    text-decoration: none;
}

#headerPanel {
    position: fixed;
    top: 0px;
    height: 55px;
    /*75px;*/
    width: 100%;
    min-width: 500px;
    background-color: whitesmoke;
    border-bottom: 3px solid black;
    /*flex the top*/
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
}

.headerSection {
    /*position: relative;*/
    padding: 0 3px;
    margin: 2px;
    /*width: 225px;*/
    /* height: 30px; */
    /*flexy*/
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 300px;
    min-width: 150px;
}

#headerMonth {
    min-width: 250px;
}

#headerMenu {
    flex-grow: 0;
    flex-shrink: 1;
    /* height: 30px; */
    min-width: 75px;
    align-self: flex-start;
}

#mainPanel {
    position: absolute;
    top: 55px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    min-width: min-content;
    overflow: auto;
    /* flex stuff */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

#monthCard {
    flex-grow: 1;
    max-width: 1000px;
    max-height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
}

#monthTableHeaderContainer {
    margin-right: 17px;
    border-bottom: 2px solid black;
    overflow: hidden;
    flex-shrink: 0;
}

#monthTableContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 500px;
    scroll-behavior: smooth;
}

#monthTable tr:nth-child(even) {
    background: lightgray;
}

.sortieRow td {
    padding: 2px 5px;
}

.dateContainer {
    position: relative;
}

.dateInput {
    width: 50px;
    margin-right: 4px;
}

.timeInput {
    width: 35px;
}

.msnInput {
    width: 75px;
}

.noteInput {
    width: 100%;
}

/*button colors*/
.button.accept {
    background: #4caf50;
}

.button.accept:hover {
    background: #6adc6f;
}

.button.accept:active {
    background: #2e7d32;
}

.button.cnx {
    background: #ef6c00;
}

.button.cnx:hover {
    background: #ffa726;
}

.button.cnx:active {
    background: #e65100;
}

.button.delete {
    background: crimson;
}

.button.delete:hover {
    background: #E57373;
}

.button.delete:active {
    background: #B71C1C;
}